body {
    background-color: #f0f0f0;
}

header {
    background-color: #022004;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
}

   
img {
        position: absolute; 
        top: 0;
        right: 0;
        width: 150px; 
        height: 179px;}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

p {
    line-height: 1.5;
}

header>p{

font-size: 20px;
}